ClientView/Connected Services/ServiceRef/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Service.Requests" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Service.Requests" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8701/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Service.Entities" />
  <xs:complexType name="AutorizationRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AutorizationRequest" nillable="true" type="tns:AutorizationRequest" />
  <xs:complexType name="RegistrationRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="numbers" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RegistrationRequest" nillable="true" type="tns:RegistrationRequest" />
  <xs:complexType name="OrderFoodRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="adress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="numbers" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Service.Entities" minOccurs="0" name="products" nillable="true" type="q1:ArrayOfProduct" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderFoodRequest" nillable="true" type="tns:OrderFoodRequest" />
</xs:schema>